<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="diablo_robot">

    <xacro:include filename="diablo_core.xacro" />
    <xacro:include filename="gazebo_plugin.xacro" />
    <xacro:include filename="ros2_control.xacro" />
    <!-- <xacro:include filename="imu_sensor.xacro" /> -->
    
</robot>